<div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
        <form id="frmRegister">
            <div class="form-group">
                <div class="form-label-group">
                    <!-- <label for="inputUserName">User Name</label> -->
                    <input type="text" id="username" name="username" class="form-control" [(ngModel)]="usersModel.username" maxlength="30" placeholder="User Name" required="required" data-role="validate" data-content="User Name is required. The Team Name must be a series of alpha-numeric characters only. Maximum length of 30.">
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <!-- <label for="firstname">First Name</label> -->
                    <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="usersModel.firstname" maxlength="30" placeholder="First Name" required data-role="validate" data-content="User Name is required. The Team Name must be a series of alpha-numeric characters only. Maximum length of 30.">
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                    <!-- <label for="inputUserName">Last Name</label> -->
                    <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="usersModel.lastname" maxlength="30" placeholder="Last Name" required="required" data-role="validate" data-content="User Name is required. The Team Name must be a series of alpha-numeric characters only. Maximum length of 30.">
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                    <!-- <label for="email">Email address</label> -->
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="usersModel.email" placeholder="Email" required="required" data-role="validate" data-content="Email is required and should be a valid email id.">
                    <input type="text" id="isadmin" name="isadmin" class="form-control" [(ngModel)]="usersModel.isadmin" value="false" hidden>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <!-- <label for="password">Password</label> -->
                            <input type="password" id="password" name="password" [(ngModel)]="usersModel.password" class="form-control" placeholder="Password" required="required" data-role="validate" data-content="Password is required.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <!-- <label for="confirmPassword">Confirm password</label> -->
                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" data-role="validate" data-content="Confirm Password is required.">
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary btn-block" id="btnRegister" (click)="registerUser()">Register</a>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/login">Login Page</a>
        </div>
        <div class="alert text-center">
        </div>
    </div>
</div>