<div class="card mb-3">
    <div class="card-header">
        <h2 class="h3 font-weight-bold">Users</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tableUsers">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Is Admin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of userlist">
                    <tr>
                        <td>{{user.USER_NAME}}</td>
                        <td>{{user.FIRST_NAME}}</td>
                        <td>{{user.LAST_NAME}}</td>
                        <td>{{user.EMAIL}}</td>
                        <td>{{user.IS_ADMIN}}</td>
                        <td>
                            <span>                         
                                <a class='edit mr-2' title='Edit' data-toggle='tooltip' routerLink='/user' > <i class="fas fa-user-edit fa-lg"></i></a>
                                <a class="delete" title="Delete" data-toggle="modal" data-target="#myModal" (click) = "setDeleteuserId(user.id)"> 
                                <i class="fas fa-trash-alt fa-lg"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" [ngClass]="{'show':showModal}">
    <!-- tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Teams</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the User?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnConfirm" (click)="deleteUser(deleteUserId)">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->